<ul class="menu-items">
    <li class="m-t-30">
        <a href="{{ url('dashboard_index') }}">
            <span class="title">Dashboard</span>
        </a>
        <span class="icon-thumbnail"><i data-feather="shield"></i></span>
    </li>

    <li class="">
        <a href="{{ url('dashboard_graph') }}" class="detailed">
            <span class="title">Graph</span>
            <span class="details">1 watcher running</span>
        </a>
        <span class="icon-thumbnail"><i data-feather="bar-chart"></i></span>
    </li>
</ul>