{% extends 'layouts/app.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active">Blank template</li>
    </ol>
{% endblock %}

{% block content %}
    <div class=" container-fluid container-fixed-lg">

    </div>
{% endblock %}